a {
  cursor: pointer;
  font-size: 13px;
  transition: 100ms letter-spacing;
  color: inherit;
  text-decoration: none;
}

a:hover {
  letter-spacing: 2px;
}

input::placeholder {
  color: #7d47cc; /* I guess that sass would be better for this project */
}

input:focus {
  border: none;
  outline: none;
}
