body {
  font-family: "Lato", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

input {
  border: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
